    @media (max-width: 1035px) {
        * {
            box-sizing: border-box;
        }
    }

    @media (max-width: 670px) {
        * {
            box-sizing: border-box;
        }

        .container { 
            width: 100%;
            margin: 0;
            padding: 45px 20px;
        }


        .top-image {
            margin-left: -20px;
        }

        .image {
            width: 100vw;
        }

        .top-wrapper h2 {
            font-size: 23px;
        }

        .header-right {
            display: none;
        }

        .icon {
            display: block;
        }

        .text-form {
            display: block;
        }

        .date {
            width: 100%;
        }

        .text-area {
            width: 100%;
        }

        .page-numbers {
            display: none;
        }

        .nav-links {
            width: 100%;
        }

        .next {
            display: flex;
        }

        .widget-area {
            display: block;
            height: auto;
        }
        
        .widget-side, .textwidget, .recent-posts {
            padding: 0;
            display: block;
            width: 100%;
            margin-bottom: 60px;
        }

        .profilewidget-text {
            padding: 0;
            display: block;
            width: 100%;
        }

        .profilewidget-text p {
            font-size: 16px;
        }

        .textwidget h2, .textwidget p {
            display: block;
            width: 100%;
        }

        
        .search {
            display: block;
            width: 100%;
            padding: 0;
        }

        .categories {
            padding: 0;
            display: block;
            width: 100%;
            padding-bottom: 20%;
        }


        footer, .menu-social {
            display: block;
            width: 100%;
            position: static;
        }

        .site-credit {
            font-size: 80%;
        }
    }
